body{
  text-align: center;
}
h1{

}
/*Web Font for weather Icons*/
[data-icon]:after {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
  font-size: 6rem;
}
/*CSS for header*/
.intro
{
	text-align: center;
	padding-top: 13vh;
	padding-bottom: 13vh;
	margin-bottom: 50px;
}

.intro h1
{
  color: white;
}

.intro h4
{
	text-transform: uppercase;
	padding: 10px;
	color: white;
	display: inline-block;
}
input{
  color: blue;
}
#weatherIconDisplay{
  margin-bottom: -10;
  padding-bottom: -10;
}
