body{
  text-align: center;
}
h1{

}
.intro
{
	text-align: center;
	padding-top: 13vh;
	padding-bottom: 13vh;
	margin-bottom: 50px;
}

.intro h1
{
  color: white;
}

.intro h4
{
	text-transform: uppercase;
	padding: 10px;
	color: white;
	display: inline-block;
}
input{
  color: blue;
}
